Repository premier213/turbo-reop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc --pretty --noEmit

.lintstagedrc:

{
  "apps/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --pretty --noEmit"
  ],
  "packages/ui/**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "tsc --pretty --noEmit"
  ],
  "*.json": [
    "prettier --write"
  ]
}

feat:add pre-push
  apps/front/package.json
  apps/office/package.json
  packages/ui/package.json
Due: prettier --write

feat:add pre-push
  packages/ui/tsconfig.tsbuildinfo
Due: none

feat:add pre-push
  packages/ui/package.json
Due: prettier --write

feat:add pre-push
  package.json
Due: prettier --write

feat:jest test & share storybook is done
  .gitignore
  .lintstagedrc
  apps/front/.gitignore
  apps/front/__test__/HelloWorld.spec.tsx
  apps/front/jest.config.js
  apps/front/next-env.d.ts
  apps/front/package.json
  apps/front/src/components/HelloWorld.tsx
  apps/front/tsconfig.json
  apps/office/.gitignore
  apps/office/package.json
  jest.config.js
  package.json
  packages/config/eslint-next.js
  packages/config/eslint-react.js
  packages/config/jest-common.js
  packages/config/jest-next.js
  packages/config/package.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/react-library.json
  packages/ui/__test__/button.spec.tsx
  packages/ui/index.tsx
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/button/__test__/button.spec.tsx
  packages/ui/src/components/button/button.stories.tsx
  packages/ui/src/components/button/button.tsx
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix, tsc --pretty --noEmit

feat:jest test & share storybook is done
  .lintstagedrc
Due: none

feat:jest test & share storybook is done
  package.json
Due: prettier --write

fix:jest-ui
  .husky/pre-commit
  jest.config.js
  packages/ui/jest.config.js
  packages/ui/tsconfig.json
Due: prettier --write

fix:tsc-fix-jest
  apps/front/__tests__/HelloWorld.spec.tsx
  apps/front/jest.config.js
  apps/front/next-env.d.ts
  apps/front/package.json
  apps/front/src/components/HelloWorld.tsx
  apps/front/src/pages/_app.tsx
  apps/front/tsconfig.json
  apps/front/tsconfig.tsbuildinfo
  apps/office/jest.config.js
  apps/office/src/pages/_app.tsx
  apps/office/tsconfig.json
  jest.config.js
  package.json
  packages/config/eslint-next.js
  packages/config/eslint-react.js
  packages/config/jest-common.js
  packages/config/jest-next.js
  packages/config/jest.config.js
  packages/config/package.json
  packages/tsconfig/react-library.json
  packages/ui/__tests__/button.spec.tsx
  packages/ui/src/components/button/__test__/button.spec.tsx
  packages/ui/src/components/button/button.stories.tsx
  packages/ui/src/components/button/button.tsx
  packages/ui/tsconfig.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix, tsc --pretty --noEmit

fix:eslint CLI
  .husky/pre-commit
  .husky/pre-push
  apps/front/package.json
  apps/front/tsconfig.tsbuildinfo
  apps/office/package.json
  package.json
  packages/config/eslint-react.js
  packages/ui/package.json
  packages/ui/src/config/theme.tsx
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix, tsc --pretty --noEmit

fix:eslint CLI
  package.json
Due: prettier --write

fix:eslint CLI
  packages/ui/src/config/theme.tsx
Due: prettier --write, eslint --fix, tsc --pretty --noEmit

fix:eslint CLI
  packages/ui/.eslintrc.js
Due: none

fix:eslint CLI
  packages/config/eslint-react.js
Due: none

fix:eslint CLI
  package.json
  packages/config/eslint-react.js
  packages/ui/.eslintrc.js
Due: prettier --write

fix:eslint CLI
  apps/front/package.json
  apps/office/package.json
  package.json
  packages/ui/package.json
  packages/ui/src/config/theme.tsx
Due: prettier --write, eslint --fix, tsc --pretty --noEmit
