Repository premier213/turbo-reop: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix:eslint CLI
  .husky/pre-commit
Due: none

fix:eslint CLI
  .husky/pre-commit
  package.json
Due: prettier --write

fix:eslint CLI
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

fix:eslint CLI
  package.json
Due: prettier --write

fix:eslint CLI
  packages/ui/dist/100.7e3a8774a145c1126ecd.manager.bundle.js
  packages/ui/dist/172.275798ee671e4005c911.manager.bundle.js
  packages/ui/dist/172.275798ee671e4005c911.manager.bundle.js.LICENSE.txt
  packages/ui/dist/368.63564ad56cdd7b767f13.manager.bundle.js
  packages/ui/dist/368.63564ad56cdd7b767f13.manager.bundle.js.LICENSE.txt
  packages/ui/dist/531.16896022e1b050ecffcf.manager.bundle.js
  packages/ui/dist/887.90d2a3f83dff20dc85fb.manager.bundle.js
  packages/ui/dist/887.90d2a3f83dff20dc85fb.manager.bundle.js.LICENSE.txt
  packages/ui/dist/950.9b07353d748ed9154a74.manager.bundle.js
  packages/ui/dist/994.2c7cdb7404e85e4784cc.manager.bundle.js
  packages/ui/dist/favicon.ico
  packages/ui/dist/index.html
  packages/ui/dist/main.7f0b8033cd12061da808.manager.bundle.js
  packages/ui/dist/runtime~main.4ff59c80651dc29effed.manager.bundle.js
Due: none

fix:husky
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

fix:husky
  package.json
Due: prettier --write

fix:husky
  .husky/pre-commit
  package.json
Due: prettier --write

fix:husky
  .husky/pre-push
  package.json
  packages/ui/src/config/theme.tsx
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

feat:add husky
  apps/front/.env
  apps/front/package.json
  packages/ui/dist/100.d00b0254.iframe.bundle.js
  packages/ui/dist/172.16aba75b.iframe.bundle.js
  packages/ui/dist/172.16aba75b.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/206.2ff74b50.iframe.bundle.js
  packages/ui/dist/491.016741a0.iframe.bundle.js
  packages/ui/dist/531.a60ee251.iframe.bundle.js
  packages/ui/dist/730.d157cc52.iframe.bundle.js
  packages/ui/dist/730.d157cc52.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/730.d157cc52.iframe.bundle.js.map
  packages/ui/dist/887.3f1a5b86.iframe.bundle.js
  packages/ui/dist/887.3f1a5b86.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/892.dec8a8fb.iframe.bundle.js
  packages/ui/dist/892.dec8a8fb.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/994.7247192f.iframe.bundle.js
  packages/ui/dist/iframe.html
  packages/ui/dist/main.5bf848b4.iframe.bundle.js
  packages/ui/dist/runtime~main.946917f9.iframe.bundle.js
  packages/ui/dist/static/css/main.d4745f92.css
  packages/ui/dist/static/css/main.d4745f92.css.map
  packages/ui/src/config/theme.tsx
Due: prettier --write, eslint --fix

feat:add husky
  .gitignore
  packages/ui/dist/100.7e3a8774a145c1126ecd.manager.bundle.js
  packages/ui/dist/100.d00b0254.iframe.bundle.js
  packages/ui/dist/172.16aba75b.iframe.bundle.js
  packages/ui/dist/172.16aba75b.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/172.275798ee671e4005c911.manager.bundle.js
  packages/ui/dist/172.275798ee671e4005c911.manager.bundle.js.LICENSE.txt
  packages/ui/dist/206.2ff74b50.iframe.bundle.js
  packages/ui/dist/368.63564ad56cdd7b767f13.manager.bundle.js
  packages/ui/dist/368.63564ad56cdd7b767f13.manager.bundle.js.LICENSE.txt
  packages/ui/dist/491.016741a0.iframe.bundle.js
  packages/ui/dist/531.16896022e1b050ecffcf.manager.bundle.js
  packages/ui/dist/531.a60ee251.iframe.bundle.js
  packages/ui/dist/730.d157cc52.iframe.bundle.js
  packages/ui/dist/730.d157cc52.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/730.d157cc52.iframe.bundle.js.map
  packages/ui/dist/887.3f1a5b86.iframe.bundle.js
  packages/ui/dist/887.3f1a5b86.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/887.90d2a3f83dff20dc85fb.manager.bundle.js
  packages/ui/dist/887.90d2a3f83dff20dc85fb.manager.bundle.js.LICENSE.txt
  packages/ui/dist/892.dec8a8fb.iframe.bundle.js
  packages/ui/dist/892.dec8a8fb.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/950.9b07353d748ed9154a74.manager.bundle.js
  packages/ui/dist/994.2c7cdb7404e85e4784cc.manager.bundle.js
  packages/ui/dist/994.7247192f.iframe.bundle.js
  packages/ui/dist/favicon.ico
  packages/ui/dist/iframe.html
  packages/ui/dist/index.html
  packages/ui/dist/main.5bf848b4.iframe.bundle.js
  packages/ui/dist/main.7f0b8033cd12061da808.manager.bundle.js
  packages/ui/dist/runtime~main.4ff59c80651dc29effed.manager.bundle.js
  packages/ui/dist/runtime~main.946917f9.iframe.bundle.js
  packages/ui/dist/static/css/main.d4745f92.css
  packages/ui/dist/static/css/main.d4745f92.css.map
Due: none

fix gitignore
  .gitignore
  packages/ui/dist/100.7e3a8774a145c1126ecd.manager.bundle.js
  packages/ui/dist/100.d00b0254.iframe.bundle.js
  packages/ui/dist/172.16aba75b.iframe.bundle.js
  packages/ui/dist/172.16aba75b.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/172.275798ee671e4005c911.manager.bundle.js
  packages/ui/dist/172.275798ee671e4005c911.manager.bundle.js.LICENSE.txt
  packages/ui/dist/206.2ff74b50.iframe.bundle.js
  packages/ui/dist/368.63564ad56cdd7b767f13.manager.bundle.js
  packages/ui/dist/368.63564ad56cdd7b767f13.manager.bundle.js.LICENSE.txt
  packages/ui/dist/491.016741a0.iframe.bundle.js
  packages/ui/dist/531.16896022e1b050ecffcf.manager.bundle.js
  packages/ui/dist/531.a60ee251.iframe.bundle.js
  packages/ui/dist/730.d157cc52.iframe.bundle.js
  packages/ui/dist/730.d157cc52.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/730.d157cc52.iframe.bundle.js.map
  packages/ui/dist/887.3f1a5b86.iframe.bundle.js
  packages/ui/dist/887.3f1a5b86.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/887.90d2a3f83dff20dc85fb.manager.bundle.js
  packages/ui/dist/887.90d2a3f83dff20dc85fb.manager.bundle.js.LICENSE.txt
  packages/ui/dist/892.dec8a8fb.iframe.bundle.js
  packages/ui/dist/892.dec8a8fb.iframe.bundle.js.LICENSE.txt
  packages/ui/dist/950.9b07353d748ed9154a74.manager.bundle.js
  packages/ui/dist/994.2c7cdb7404e85e4784cc.manager.bundle.js
  packages/ui/dist/994.7247192f.iframe.bundle.js
  packages/ui/dist/favicon.ico
  packages/ui/dist/iframe.html
  packages/ui/dist/index.html
  packages/ui/dist/main.5bf848b4.iframe.bundle.js
  packages/ui/dist/main.7f0b8033cd12061da808.manager.bundle.js
  packages/ui/dist/runtime~main.4ff59c80651dc29effed.manager.bundle.js
  packages/ui/dist/runtime~main.946917f9.iframe.bundle.js
  packages/ui/dist/static/css/main.d4745f92.css
  packages/ui/dist/static/css/main.d4745f92.css.map
  packages/ui/package.json
Due: prettier --write

feat:redux-toolkit add
  apps/front/__tests__/HelloWorld.spec.tsx
  apps/front/package.json
  apps/front/src/components/HelloWorld.tsx
  apps/front/src/components/types.d.ts
  apps/front/src/config/.gitkeep
  apps/front/src/constants/.gitkeep
  apps/front/src/modules/counter.tsx
  apps/front/src/modules/counterSlice.ts
  apps/front/src/pages/_app.tsx
  apps/front/src/pages/index.tsx
  apps/front/src/services/.gitkeep
  apps/front/src/store/store.ts
  apps/front/src/styles/global.css
  apps/office/package.json
  packages/config/eslint-next.js
  packages/ui/__tests__/button.spec.tsx
  packages/ui/index.ts
  packages/ui/index.tsx
  packages/ui/src/components/button/button.stories.tsx
  packages/ui/src/components/button/button.tsx
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat:react-query
  apps/front/next-env.d.ts
  apps/front/package.json
  apps/front/src/pages/_app.tsx
  apps/front/src/pages/_document.tsx
  apps/front/src/pages/types.d.ts
  apps/front/tailwind.config.js
  apps/office/package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat:react-query
  apps/front/__tests__/HelloWorld.spec.tsx
Due: prettier --write, eslint --fix

fix:test
  packages/ui/__tests__/button.spec.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: apps/**/*.{ts,tsx}) or (any of: packages/ui/**/*.{ts,tsx})) or (any of: *.json)
  eslint --fix: (any of: apps/**/*.{ts,tsx}) or (any of: packages/ui/**/*.{ts,tsx})
